body, p {
  margin: 0;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.btn {
  background: red;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 200px;
  height: 60px;
}

.btn:hover {
  background: transparent;
  border: 2px solid red;
  transition: 200ms;
  transform: scale(1.1);
  color: #fff;
}

.bulbcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.bulb {
  border-radius: 100px;
  padding: 35px;
  margin: 5px;
  background: radial-gradient(circle, rgba(51, 51, 51, 1)
  0%, rgba(29, 19, 19, 1) 100%);
}

/* Navbar */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
}

#navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#navbar li a.active {
    background-color: rgb(0,158,227);
    color: white;
}

#navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
/* Navbar end */

/* possition evertying but the navBar to the right, so it does not overlap the navBar */
.allContent {
    width: 85%;
    float: right;
}

.chapter {
    width: 100%;
}

#mainTitle {
    font-size: 30px;
    color: white;
    background-color: rgb(17,73,123);
    padding: 0.5% 0% 0.5% 5%;
}

#textStyle {
    font-size: 20px;
    line-height: 33px;
    margin: 2% 0% 2% 5%;
}

#textStyle span, .previewContent span {
    color: rgb(220, 0, 0);
    font-weight: 600;
}
/* Height of the language cells for each chapter */
.ch1-height{
  height: 184px;
}
.ch2-height {
    height: 397px;
}
/* Height of the comentary and preview boxes */
.ch1-heightPC{
  height: 220px;
}
.ch2-heightPC {
    height: 420px;
}

/* Height for each chapter */
.ch1{
  height: 283px;
}
.ch2 {
    height: 700px;
}
.ch3{

}

/* language cells */
.languageALL{
  width: 100%;
}

.language {
    width: 33.33%;
    float: left;
    margin: 0;
}

.cellHTML, .cellJS{
  background-color:#f5f5f5;
}

.cellCSS {
    background-color: #eef5fb;
}

#languageTitle, #languageTitleCSS {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    border-bottom: 3px solid;
    padding-bottom: 2%;
    color: black;
}

#languageTitleCSS{
  border-bottom: 3px solid white;
}
/* language cells END */

/* Preview and Commentary row */
.rowPrevComm{
  width: 100%;
}

.previewBox, .commentary {
    width: 48%;
    margin: 2% 1%;
    float: left;
    box-shadow: 0px 0px 5px 2px rgb(17,73,123);
    position: relative;
}

#titlePreview, #titleCommentary {
    background-color: black;
    color: white;
    font-size: 28px;
    padding: 0.3% 0;
    text-align: center;
}

.previewContent {
    width: 94%;
    margin: 3% 3%;
}

.previewContenta {
    width: 94%;
    margin: 3% 3%;
    background: radial-gradient(circle, rgba(51, 51, 51, 1)
    0%, rgba(29, 19, 19, 1) 100%);
}

.executeButton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 25px;
    border: 0;
    position: absolute;
    bottom: 0;
}

.clickToAppear{
  opacity: 0;
}
/* Preview and Commentary row END */
